// fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
// fonts end

// def css
body{
	padding-top: 112px;
}

a:hover{
	text-decoration: none;
}

input:focus,button:focus, textarea:focus{
	outline: none;
}
p,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
// def css end


// elements
.btn_c{
	text-align: center;
	a{
		display: inline-block;
		background: #E6A413;
		border-radius: 76px;
		padding: 12px;
		img{
			vertical-align: middle;
		}
		span{
			font-family: 'Rubik', sans-serif;
			color: #FFFFFF;
			font-size: 16px;
			font-weight: 700;
			margin-left: 12px;
			padding-right: 12px;
			vertical-align: middle;
		}
		circle{
			fill: black;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		path{
			fill: #fff;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}

		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	a:hover{
		background: black;

		circle{
			fill: #fff;
		}
		path{
			fill: #000;
		}
	}
	a:focus{
		background: #171717;

		circle{
			fill: #fff;
		}
		path{
			fill: #171717;
		}
	}
}
// elements end



// navbar 
.navbar{
	background: #7A3CDF;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	// min-height: 112px;
	margin: 0;
	background: #7A3CDF;
	z-index: 999;
	padding-top: 31px;
	padding-bottom: 31px;
	.navbar-nav .nav-link{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		position: relative;

		padding: 0;
		margin-left: 15px;
		margin-right: 15px;
		padding: 10px 5px;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.navbar-nav .nav-link:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 4px;
		width: 100%;
		bottom: 0;
		background: #E5A413;
		max-width: 0;
		overflow: hidden;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.navbar-nav .nav-link:hover{
		opacity: 1;
	}
	.navbar-nav .nav-link:hover:after{
		max-width: 100%;
		opacity: 1;
	}
	.navbar-nav .nav-link:hover{
		opacity: 1 !important;
	}
	.active{
		a{
			position: relative;
		}
		a:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 4px;
			width: 100%;
			max-width: 100% !important;
			bottom: 0;
			background: #E5A413;
		}
	}
	.navbar-nav .gettheapp{
		border: 2px solid #FFFFFF;
		border-radius: 76px;
		padding: 10px 40px;
		margin-left: 40px;
		margin-right: 0;
	}
	.navbar-nav .gettheapp:hover{
		background: #000;
		border-color: #000;
		color: #fff !important;
	}
	.navbar-nav .gettheapp:focus{
		background: #171717;
		border-color: #171717;
		color: #fff !important;
	}
	.navbar-nav .gettheapp:hover:after{
		max-width: 0;
	}
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	color: #fff;
}
// navbar end



// home_sec1
.home_sec1{
	background: #7A3CDF;
	padding: 0;
	.illustrations{
		width: 100%;
		position: relative;
		z-index: 0;
		max-width: 2000px;
	}
	.cont{
		min-height: 392px;
		margin: auto;
		padding-top: 48px;
		margin-bottom: -72px;
		position: relative;
		z-index: 1;

		h1{
			font-family: 'Rubik', sans-serif;
			color: #fff;
			font-size: 44px;
			font-weight: 900;

			text-align: center;
			max-width: 736px;
			margin: auto;
			margin-bottom: 32px;
		}
		p{
			font-family: 'Rubik', sans-serif;
			color: #fff;
			font-size: 18px;
			font-weight: 300;

			max-width: 520px;
			margin: auto;
			line-height: 26px;
			text-align: center;
			margin-bottom: 40px;
			@media(min-width: 772px){
				line-height: 26px;
			}
		}
	}
}
// home_sec1 end



// home_sec2
.home_sec2{
	min-height: 760px;
	background: #F1F4F7;
	text-align: center;
	vertical-align: middle;
	padding-top: 120px;
	padding-bottom: 120px;
	.fullw{
		margin: auto;
		max-width: 100%;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	}
	.right_sec{
		margin: auto;
		max-width: 448px;
		display: inline-block;
		vertical-align: middle;
		text-align: left;

		h1{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 40px;
			font-weight: 900;

			margin-bottom: 32px;

			@media(min-width: 772px){
				line-height: 40px;
			}
		}
		p{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 18px;
			font-weight: 300;

			@media(min-width: 772px){
				line-height: 26px;
			}
		}
	}
	.questions{
		// min-height: 500px;
		// background: black;
		width: 100%;
	}
	.qanda{
		min-height: 600px;
		.card_c:last-child{
			margin-bottom: 0;
		}
		.ans{
			display: block;
			position: relative;
			padding-bottom: 40px;
			padding-top: 40px;
			.dots{
				position: absolute;
				left: 50px;
				bottom: 0px;
			}
		}
	}

	.card_c{
		margin: auto;
		display: block;
		background: #FFFFFF;
		border-radius: 12px;
		padding: 26px 32px 18px 88px;
		min-height: 92px;
		position: relative;
		text-align: left;
		margin-bottom: 12px;
		img{
			position: absolute;
			left: 16px;
			top: 16px;
		}		

		h2{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 6px;
		}
		h3{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 12px;
			font-weight: 500;
			opacity: 0.5;
			margin-bottom: 16px;
		}
		p{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 16px;
			font-weight: 300;
			span{
				color: #7A3CDF;
				font-weight: 700;
			}
		}
		.marginadded{
			margin-top: 10px;
		}
	}
}
// home_sec2 end





// home_sec3
.home_sec3{
	background: #7A3CDF;
	min-height: 576px;
	padding-top: 160px;
	padding-bottom: 100px;

	h1{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 32px;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	p{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		max-width: 448px;
		@media(min-width: 772px){
			line-height: 26px;
		}
	}
	.home_s3_img{
		margin-top: -40px;
		max-width: 100%;
	}
	.dots{
		position: absolute;
		right: 50px;
		bottom: -50px;

	}
}
// home_sec3 end



// home_sec4
.home_sec4{
	background: #7A3CDF;
	min-height: 576px;
	padding-top: 100px;
	padding-bottom: 160px;
	.carousel-inner{
		@media(min-width: 992px){
			max-width: calc(100% + 15px);
			width: calc(100% + 15px)
		}
		@media(min-width: 1200px){
			max-width: 592px;
			width: 592px;
		}
	}
	.carousel-fade .carousel-item{
		@media(min-width: 992px){
			max-width: calc(100% + 15px);
			width: calc(100% + 15px)
		}
		@media(min-width: 1200px){
			max-width: 592px;
			width: 592px;
		}
	}
	img{
		max-width: 100%;
	}
	text-align: right;
	.rightm{
		max-width: 448px;
		text-align: left;
		display: inline-block;
	}
	h1{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 32px;
		margin-top: 180px;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	p{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		max-width: 448px;
		@media(min-width: 772px){
			line-height: 27px;
		}
	}
}
// home_sec4 end


// home_sec5
.home_sec5{
	background: #F1F4F7;
	min-height: 576px;
	padding-top: 160px;
	padding-bottom: 140px;
	img{
		max-width: 100%;
		@media(min-width: 992px){
			margin-left: 15px;
			max-width: calc(100% + 15px);
		}
		@media(min-width: 1200px){
			max-width: 544px;
			margin-left: 15px;
		}
	}
	h1{
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 32px;
		margin-top: 46px;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	p{
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 18px;
		font-weight: 300;
		max-width: 448px;
		@media(min-width: 772px){
			line-height: 27px;
		}
	}
}
// home_sec5 end


// home_sec6 
.home_sec6{
	padding: 0;
	background: #F1F4F7;
	overflow: hidden;
	padding-top: 100px;

	.whitebox{
		background: #fff;
		width: calc(100% + 10px);
		min-height: 300px;
		border-top-left-radius: 100px;
		border-top-right-radius: 100px;
		-ms-transform: rotate(4deg);
		transform: rotate(4deg);
		margin-left: -5px;
	}
	.cont{
		background: #fff;
		margin-top: -70px;
		padding-bottom: 80px;
	}
	h1{
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 32px;
		text-align: center;
		margin-top: -130px;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	p{
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 18px;
		font-weight: 300;
		max-width: 544px;
		margin: auto;
		margin-bottom: 65px;
		text-align: center;
		@media(min-width: 772px){
			line-height: 27px;
		}
	}
	.boxes{
		max-width: 928px;
		margin: auto;
		img{
			margin: auto;
			display: block;
			max-width: 64px;
			margin-bottom: 24px;
		}
		p{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 16px;
			font-weight: 500;
			margin: 0;
			margin-bottom: 50px;
		}
	}
}
// home_sec6 end



// home_sec7 
.home_sec7{
	background: #7A3CDF;
	padding-top: 160px;
	padding-bottom: 160px;
	h1{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 44px;
		font-weight: 900;
		margin-bottom: 32px;
		text-align: center;
		max-width: 755px;
		margin: auto;
		margin-bottom: 48px;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
}
// home_sec7 end


// footer
.footer{
	background: #14042E;
	padding-top: 64px;
	padding-bottom: 64px;
	.cont{
		position: relative;
		.logofooter{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			text-align: right;
			li{
				display: inline-block;
				margin-right: 40px;
				a{
					font-family: 'Rubik', sans-serif;
					color: #fff;
					font-size: 16px;
					font-weight: 500;
					position: relative;
					img{
						-webkit-transition: all .25s ease;
						   -moz-transition: all .25s ease;
						    -ms-transition: all .25s ease;
						     -o-transition: all .25s ease;
						        transition: all .25s ease;
					}
					.activec{
						position: absolute;
						left: 0;
						right: 0;
						z-index: 2;
						opacity: 0;

						-webkit-transition: all .25s ease;
						   -moz-transition: all .25s ease;
						    -ms-transition: all .25s ease;
						     -o-transition: all .25s ease;
						        transition: all .25s ease;
					}

					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				a:hover{
					color: #8B4DF0;
					img{
						opacity: 0;
					}
					.activec{
						opacity: 1;
					}
				}
			}
			.sm{
				margin-right: 0;
				margin-left: 32px;
			}
			li:nth-child(7){
				margin-left: 22px;
			}
		}
	}
}
// footer end






// about_us_s1
.about_us_s1{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #E5E5E5;
	img{
		max-width: 100%;
	}
	.cont{
		padding-top: 100px;

		h1{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 40px;
			font-weight: 900;
			margin-bottom: 32px;
			text-align: left;
			max-width: 448px;
			@media(min-width: 772px){
				line-height: 40px;
			}
		}
		h2{
			font-family: 'Rubik', sans-serif;
			color: #fff;
			background: black;
			padding: 4px 15px;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 12px;
			line-height: 24px;
			display: inline-block;
			border-radius: 8px;
			margin-right: 10px;
		}
		.yellowc{
			background: #E5A413;
		}
		.purplec{
			background: #7A3CDF;
		}
		.orangec{
			background: #FF4C00
		}
		p{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 16px;
			font-weight: 300;
			margin: 0;
			margin-bottom: 50px;
			line-height: 24px;
			margin-top: 12px;
			max-width: 446px;
		}
	}
}
// about_us_s1 end



// about_us_s2 
.about_us_s2{
	background: #7A3CDF;
	padding-top: 160px;
	padding-bottom: 160px;
	h1{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 32px;
		text-align: center;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	p{
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
		max-width: 700px;
		margin: auto;
	}
}
// about_us_s2 end



// faq_s1
.faq_s1{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #E5E5E5;
	min-height: calc(100vh - 272px);
	h1{
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 24px;
		text-align: center;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	.card{
		border-radius: 12px;
		margin: auto;
		margin-bottom: 16px;
		border: 0;
		box-shadow: none;
		max-width: 736px;
	}
	.card-header{
		border: 0;
		padding: 0;
		background: transparent;

		a{
			font-family: 'Rubik', sans-serif;
			color: #000;
			font-size: 18px;
			font-weight: 500;
			padding: 24px 84px 24px 24px;
			display: block;
			position: relative;
			img{
				position: absolute;
				right: 20px;
				top: 22px;
			}
			.plus_icon{
				display: none;
			}
		}
		.collapsed{
			.plus_icon{
				display: block;
			}
		}
	}
	.card_cont{
		p{
			padding: 0px 84px 24px 48px;
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 18px;
			font-weight: 300;
			@media(min-width: 772px){
				line-height: 26px;
			}
		}
	}
}
// faq_s1 end



// terms_s1 
.terms_s1{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #E5E5E5;
	min-height: calc(100vh - 272px);
	h1{
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 24px;
		text-align: center;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	p{
		font-family: 'Rubik', sans-serif;
		color: #000;
		font-size: 18px;
		font-weight: 300;
		line-height: 26px;
		margin: auto;
		max-width: 736px;
		margin: auto;
		word-wrap: break-word;
		@media(min-width: 772px){
			line-height: 26px;
		}
	}
}
// terms_s1 end


// blogv1_s1
.blogv1_s1{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #E5E5E5;
	min-height: calc(100vh - 272px);
	h1{
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 24px;
		text-align: center;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}

	.boxes{
		max-width: 1120px;
		margin: auto;

		img{
			max-width: 100%;
		}

		h3{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 19px;
			font-weight: 500;
			margin-top: 24px;
		}
		.box{
			margin-bottom: 56px;
		}
		a{
			display: inline-block;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		a:hover{
			opacity: 0.7;
		}

		.purple_btn{
			text-align: center;
			margin-top: 12px;
			a{
				display: inline-block;
				font-family: 'Rubik', sans-serif;
				color: #F1F4F7;
				font-size: 16px;
				font-weight: 500;
				background: #7A3CDF;
				min-width: 172px;
				padding: 12px;
				border-radius: 76px;
			}
		}
	}

	.subscribe{
		padding: 64px;
		background: #7A3CDF;
		border-radius: 12px;
		margin-top: 160px;
		form{
			position: absolute;
			right: 15px;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			text-align: right;
		}
		h2{
			font-family: 'Rubik', sans-serif;
			color: #fff;
			font-size: 44px;
			font-weight: 900;
		}
		button{
			border: 0;
			position: absolute;
			right: 10px;
			background: transparent;
			top: 50%;
			transform: translateY(-50%);

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		button:hover{
			opacity: 0.7;
		}
		input{
			max-width: 384px;
			width: 100%;
			padding: 18px;
			border: 0;
			border-bottom: 2px solid #fff;
			background: transparent;

			font-family: 'Rubik', sans-serif;
			font-weight: 500;
			font-size: 16px;
			color: #fff;
			display: inline-block;
			text-align: left;
		}
		*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #fff;
		  opacity: 0.3;
		}
		*::-moz-placeholder { /* Firefox 19+ */
		  color: #fff;
		  opacity: 0.3;
		}
		*:-ms-input-placeholder { /* IE 10+ */
		  color: #fff;
		  opacity: 0.3;
		}
		*:-moz-placeholder { /* Firefox 18- */
		  color: #fff;
		  opacity: 0.3;
		}
	}
}
// blogv1_s1 end



// blog_post 
.blog_post{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #E5E5E5;
	min-height: calc(100vh - 272px);
	h1{
		margin: auto;
		font-family: 'Rubik', sans-serif;
		color: #000000;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 24px;
		text-align: center;
		max-width: 735px;
		@media(min-width: 772px){
			line-height: 40px;
		}
	}
	img{
		max-width: 100%;
		margin: auto;
		display: block;
	}
	.cont{
		padding-top: 64px;
		p{
			font-family: 'Rubik', sans-serif;
			color: #000;
			font-size: 18px;
			font-weight: 300;
			line-height: 26px;
			margin: auto;
			max-width: 736px;
			margin: auto;

		}
		h2{
			margin: auto;
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 24px;
			font-weight: 500;

			max-width: 736px;
			margin: auto;
			margin-top: 24px;
			margin-bottom: 16px;
		}
	}
	.boxes{
		max-width: 1120px;
		margin: auto;

		img{
			max-width: 100%;
		}

		h3{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 19px;
			font-weight: 500;
			margin-top: 24px;
		}
		.box{
			margin-top: 56px;
		}
		a{
			display: inline-block;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		a:hover{
			opacity: 0.7;
		}

		.purple_btn{
			text-align: center;
			margin-top: 12px;
			a{
				display: inline-block;
				font-family: 'Rubik', sans-serif;
				color: #F1F4F7;
				font-size: 16px;
				font-weight: 500;
				background: #7A3CDF;
				min-width: 172px;
				padding: 12px;
				border-radius: 76px;
			}
		}
	}
}
// blog_post end



// career_post
.career_post{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #E5E5E5;
	.box{
		max-width: 928px;
		margin: auto;
		img{
			max-width: 100%;
		}
		
		.cont{
			padding-top: 50px;
			h1{
				font-family: 'Rubik', sans-serif;
				color: #000000;
				font-weight: 900;
				font-size: 40px;
				text-align: left;
				margin-bottom: 24px;
				@media(min-width: 772px){
					line-height: 40px;
				}
			}
			a{
				display: block;
				position: relative;
				margin-bottom: 16px;
				padding: 24px 60px 24px 32px;
				background: #fff;
				border-radius: 12px;
				max-width: 352px;
				font-family: 'Rubik', sans-serif;
				color: #7A3CDF;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;

				img{
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
				}

				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			a:hover{
				opacity: 0.7;
			}
		}
	}
}
// career_post end



// career_s2
.career_s2{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #7A3CDF;

	h1{
		margin: auto;
		font-family: 'Rubik', sans-serif;
		color: #fff;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 24px;
		text-align: center;
		@media(min-width: 772px){
			line-height: 40px;
		}
		.forsmalldevice{
			display: none;
		}
	}
	.apply_box{
		background: #fff;
		border-radius: 12px;
		max-width: 352px;
		margin: auto;
		width: 100%;
		padding: 40px 32px;
		

		button{
			background: #E6A413;
			width: 100%;
			font-family: 'Rubik', sans-serif;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			line-height: 48px;
			margin-top: 16px;
			border: 0;
			border-radius: 76px;

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		button:hover{
			opacity: 0.7;
		}
		textarea{
			padding: 20px 24px;
			background: #F1F4F7;
			border-radius: 6px;
			width: 100%;
			border: 0;
			font-family: 'Rubik', sans-serif;
			color: #000;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 16px;

			min-height: 148px;
			max-width: 100%;
			min-width: 100%;
		}

		input{
			padding: 20px 24px;
			background: #F1F4F7;
			border-radius: 6px;
			width: 100%;
			border: 0;
			font-family: 'Rubik', sans-serif;
			color: #000;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 16px;
		}
		*::-webkit-input-placeholder { /* Edge */
		  color: #000;
		  opacity: 0.3;
		}

		*:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: #000;
		  opacity: 0.3;
		}

		*::placeholder {
		  color: #000;
		  opacity: 0.3;
		}


		.custom-select{
			position: relative;
			background: #F1F4F7;
			border-radius: 6px;
			width: 100%;
			border: 0;
			font-family: 'Rubik', sans-serif;
			color: rgba(0, 0, 0, 0.3);
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 16px;
			padding: 0;
			min-height: 65px;
		}

		.custom-select select {
		  // display: none; /*hide original SELECT element:*/
		  left: 0;
	      position: absolute;
	      right: 0;
	      bottom: 0;
	      top: 0;
	      width: 100%;
	      z-index: -1;
		}

		.select-selected {
		  background-color: #F1F4F7;
			border-radius: 6px;
			padding-right: 50px !important;
		}

		/*style the arrow inside the select element:*/
		.select-selected:after {
		  position: absolute;
	      content: "";
	      width: 12px;
	      height: 8px;
	      background-image: url(../img/arrow_down.svg);
	      top: 28px;
	      right: 20px;
		}

		

		/*style the items (options), including the selected item:*/
		.select-items div,.select-selected {
		  color: #000;
		  padding: 20px 24px;
		  border: 0;
		  cursor: pointer;
		  user-select: none;
		}
		.select-selected {
			color: rgba(0, 0, 0, 0.3);
		}
		.colorchanged{
			color: #000 !important;
		}

		/*style items (options):*/
		.select-items {
		  position: absolute;
		  background: #FFFFFF;
		  border-radius: 6px;
		  top: calc(100% + 16px);
		  left: 0;
		  right: 0;
		  z-index: 99;
		  padding-top: 8px;
		  padding-bottom: 8px;
		  div{
		  	padding: 8px 50px 8px 16px;
		  	color: #333333;
		  	position: relative;
		  	-webkit-transition: all .25s ease;
		  	   -moz-transition: all .25s ease;
		  	    -ms-transition: all .25s ease;
		  	     -o-transition: all .25s ease;
		  	        transition: all .25s ease;
		  }
		  div:after{
		  	content: '';
		  	width: 26px;
		  	height: 26px;
		  	right: 16px;
		  	background: url("../img/select_circle.svg");
		  	top: 50%;
		  	transform: translateY(-50%);
		  	display: block;
		  	position: absolute;
		  }
		  .same-as-selected:after{
		  	background: url("../img/select_circle_active.svg");
		  }
		}

		/*hide the items when the select box is closed:*/
		.select-hide {
		  display: none;
		}

		.select-items div:hover {
			opacity: 0.7;
		}
	}
}
// career_s2 end



// carees_post_s1
.carees_post_s1{
	padding-top: 160px;
	padding-bottom: 160px;
	background: #E5E5E5;
	min-height: calc(100vh - 272px);
	.cont{
		max-width: 928px;
		margin: auto;
		width: 100%;
		h1{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 40px;
			font-weight: 900;
			margin-bottom: 64px;
			@media(min-width: 772px){
				line-height: 40px;
			}
		}
		h2{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 16px;
			margin-top: 24px;
		}
		p{
			font-family: 'Rubik', sans-serif;
			color: #000000;
			font-size: 18px;
			font-weight: 300;
			@media(min-width: 772px){
				line-height: 26px;
			}
		}
		.custombtn{
			margin-top: 40px;
			a{
				background: #E6A413;
				border-radius: 76px;
				min-width: 148px;
				line-height: 48px;
				display: inline-block;
				font-family: 'Rubik', sans-serif;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				text-align: center;

				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			a:hover{
				opacity: 0.7;
			}
		}
	}
}
// carees_post_s1 end










